.widget-ultimate-fields {
    max-width: 500px;
}
.list-groups {
    border: 1px solid #e5e5e5;
    padding: 10px;
    background: #f5f5f5;
    margin-bottom: 1em;
}
.bundle-groups {
    margin: 1em 0px;

}
.list-groups .group-item {
    border: 1px solid #e5e5e5;
    padding: 5px;
    margin-bottom: 10px;
    background: #ffffff;
}
.group-item-header {
    background: #f5f5f5;
    margin: -5px;
    border-bottom: 1px solid #e5e5e5;
    position: relative;
}
.closed.group-item .group-item-header {
    border-bottom: 0px none;
}
.group-item-title {
    font-weight: bold;
    display: block;
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px 10px;
    line-height: 20px;
}
.group-fields-inner {
    padding: 0px 5px;
}
.group-item-toggle {
    position: absolute;
    top: 0px;
    width: 25px;
    bottom: 0px;
    right: 0px;
    cursor: pointer;
}
.group-item-toggle:before {
    font-family: dashicons;
    content: "\f142";
    line-height: 30px;
    font-size: 20px;
    text-align: center;
}
.closed.group-item .group-item-toggle:before {
    content: "\f140";
}

.attachment-added .media-item-preview {
    border: 0px none;
}
.media-item-preview {
    border: 1px dashed #CCCCCC;
    min-height: 150px;
    display: block;
    margin-bottom: 15px;
    webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
}
.widget-attachment-input .remove-media,
.widget-attachment-input .change-media {
    display: none;
}
.widget-attachment-input.attachment-added .remove-media,
.widget-attachment-input.attachment-added .change-media {
    display: inline-block;
}
.widget-attachment-input.attachment-added .select-media {
    display: none;
}

.w-admin-input-wrap textarea.editor {
    border: 0px none;
    box-shadow: none;
}
.w-admin-input-wrap .wp-picker-container {
    display: block;
}
.w-admin-input-wrap .wp-picker-container .wp-color-picker {
    border: 1px solid #ddd;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
}